.select {
  background-color: var(--color-white-10);
  border-radius: 10px;
  min-height: 50px;
  &.ant-select-disabled {
    opacity: 0.7;
  }

  .ant-select-selector {
    padding: 10px 24px 10px !important;
    height: 100% !important;
    min-width: 280px;

    .ant-select-selection-search {
      left: 20px;
      .ant-select-selection-search-input {
        height: 100%;
        color: var(--color-white) !important;
      }
    }
  }
  .ant-select-selection-placeholder {
    font-family: var(--font-space-mono);
  }
  .ant-select-selection-item {
    font-family: var(--font-space-mono);
    color: var(--color-black-10);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-111);
  }
  .ant-select-arrow {
    inset-inline-end: 20px !important;
  }
}
