.homepage {
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: radial-gradient(41.65% 52.06% at 65.22% 46.44%, #61139e 0%, #4f008d 100%);


 

  &__tabs {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 100px;
  }

  &__content {
    transform: translateY(-3vw);
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      position: relative;

      p {
        color: var(--color-white);
        font-family: var(--font-agrandir);
        font-size: var(--font-size-xxx);
        font-weight: 500;
        height: fit-content;
        line-height: var(--line-height-91);
        margin: 0;

        span {
          color: var(--color-green);
        }
      }
      .leaf-1 {
        max-width: 10%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(-41%, 13%);
      }
      .leaf-2 {
        max-width: 13%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-41%, -120%);
      }
      .leaf-3 {
        max-width: 8%;
        left: 0;
        position: absolute;
        top: -10%;
      }
      .leaf-4 {
        max-width: 18%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(176%, -42%);
      }
      .leaf-5 {
        max-width: 29%;
        bottom: 0;
        position: absolute;
        right: 0;
        transform: translateX(100%);
      }
    }
  }

  &__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vw;
  }

  .text-coming-soon {
    margin-top: 25px;
  }

  .impact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: transparent; /* Changed to a more visually appealing blue */
  }

  .impact-card {
    min-width: 310px; /* Adjusted width */
    width: 24%;
    height: 130px; /* Adjusted width */
    background-color: #4F008D; /* Set background to transparent */
    padding: 20px; /* Padding for content spacing */
    border: 2px solid rgba(#a09f9f, 0.4); /* Added a border with color */
    border-radius: 8px; /* Rounded corners for the border */
    text-align: start; /* Centered text inside cards */
    color: #ffffff; /* Changed text color to match the border */
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
  }

  .estimated {
    color: #B2FF00;
    font-weight: 400;
    font-size: var(--font-size-xxl);
    font-family: var(--font-agrandir);
    
  }
  .card-description {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 8px; /* Added margin for spacing between elements */
    p {
      font-family: var(--font-agrandir);
      letter-spacing: 1px;
    }
  }

  .card-icon {
    width: 35px; /* Increased icon size for better visibility */
    height: 35px;
    margin-right: 10px; /* Spacing between icon and text */
  }

  .card-description p {
    margin: 0; /* Removed default margin for p tag */
    font-size: 14px; /* Adjusted font size for better readability */
  }
  .countries-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
     /* Spacing between items */
    // padding: 20px; /* Padding around the container */
    // background-color: transparent; /* Light background color for the container */
    // border-radius: 8px; /* Rounded corners for the container */
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }

  .container-info {
    margin-top: 40px;
    display: flex;
    align-items: start;
  }

  .country-list {
    margin-top: 40px;
    height: 400px;
    display: flex;
    gap: 16px;
    font-family: var(--font-agrandir);
    font-weight: 400;
    font-size: 18px;

    & > :first-child {
      flex: 0 0 60%;
      background: linear-gradient(180deg, rgb(111.27, 8.01, 192.31) 0%, rgb(79, 0, 141) 100%);
 
    }
  
    & > :nth-child(2) {
      flex: 0 0 40%;
    }

  }

  .container-title {
    font-size: var(--font-size-sm);
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 500;
    color: #ffffff;
    font-family: var(--font-space-mono);
    letter-spacing: 1px;
  }

  .country {
    height: 300px; /* Fixed width for each country item */
    background-color: transparent; /* White background for each item */
    padding: 12px; /* Padding inside each item */
    border: 2px solid rgba(#e0e0e0, 0.35); /* Light border for each item */
    border-radius: 8px; /* Rounded corners for each item */
    text-align: center; /* Center text inside each item */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label {
    display: flex;
    font-size: var(--font-size-m);
    align-items: center;
    gap: 12px;
    margin-bottom: 28px;
    p {
      margin-bottom: 0;
      font-size: 16px;
      font-family: var(--font-agrandir);
      line-height: 125%;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
  .pie-legend {
    min-width: 14px;
    min-height: 14px;
    border-radius: 100%;
  }

  .portfolio {
    &-container{
    display: flex;
    gap: 16px;
  }

    &-card {
      background-color: white;
      width: 320px;
      height: 360px;
      border-radius: 10px;
      position: relative;
      &--img {
        height: 220px;
        border-radius: 10px  10px 0 0;
        width: 100%;
        background-color: #4F50FF;
      }
      &--details {
        font-family: var(--font-agrandir);
        padding: 24px;
        color: #1D1B1E;
      }
      &--desc {
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
      }
      &--info {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      &--fund {
        background-color: #B2FF00;
        padding: 4px 12px;
        border-radius: 24px;
        display: flex;
        position: absolute;
        bottom: 124px;
        right: 12px;
        height: 32px;
        text-align: center;
        align-items: center;
        p {
          margin-bottom: 0;
        }
      }

      &--category {
        display: flex; 
        gap: 12px;
        align-items: center;

        p {
          margin-bottom: 0;
        }
      }

      &--by {
        margin-bottom: 0;
      }
    }
  }
  .survey-title {
    font-size: var(--font-size-xl);
    font-family: var(--font-agrandir);
    color: white;
    width: 63%;
    margin-top: 112px;
    line-height: 150%;
    margin-bottom: 10%;
    letter-spacing: 1px;

    span {
      text-decoration: underline;
    }
  }

  .country:hover {
    background-color: #ffffff2d; /* Slightly darker background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }

  .country div {
    font-size: 16px; /* Font size for the country name */
    color: #ffffff;
    font-weight: 600; /* Slightly bold text */
  }
  .ethPrice {
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .sub-impact-title {
    font-size: var(--font-size-m);
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
    font-family: var(--font-agrandir);

  }

  .impact-title {
    padding: 5% 10px;
    margin-bottom: 20px;
    width: 70%;
    font-size: var(--font-size-xxl);
    line-height: 125%;
    color: #ffffff;
    font-family: var(--font-agrandir);
  }


  .country-item {
    width: 43%;
  }
  .activities-item {
    color: #ffffff;
    padding: 4px;
    width: 43%;
  }
  @media screen and (max-width: 1400px) {
    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxm-4);
        }

        .leaf-1 {
          svg {
            width: 80px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -6%;

          svg {
            width: 50px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(201%, -42%);

          svg {
            width: 110px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 180px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1280px) {
    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxm-3);
        }
      }
    }
  }

  @media screen and (max-width: 1080px) {
    min-height: calc(100vh - var(--height-header-medium));
  }

  @media screen and (max-width: 1080px) {
    .impact-title {
      padding: 2% 10px;
      width: 100%;
      font-size: var(--font-size-xm);
      line-height: 125%;
      color: #ffffff;
      font-family: var(--font-agrandir);
    }

    .impact-container {
      flex-direction: column;
    }

    .countries-container {
      display: flex;
      flex-direction: column;
      gap: 18px;
      justify-content: flex-starts;
    }

    .country-item {
      width: 100%;
    }
    .activities-item {
      width: 100%;
    }

    .pie-label {
      display: flex;
      gap: 12px;
    }
  .container-info {
    margin-top: 16px;
    flex-direction: column;
  }
  .country-list {
    margin-top: 16px; 
    height: 300px;
  }
  .portfolio{
    margin-top: 60px;
    &-container {
    align-items: center;
    flex-direction: column;}
  }

  .survey-title {
    width: 100%;
  }
  
    &__title {
      &-text {
        .leaf-1 {
          svg {
            width: 70px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -5%;

          svg {
            width: 45px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(201%, -42%);

          svg {
            width: 100px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 160px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxm-2);
        }

        .leaf-1 {
          svg {
            width: 60px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -4%;

          svg {
            width: 40px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(201%, -42%);

          svg {
            width: 90px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 140px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__menu {
      bottom: 10vw;
    }

    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxm-1);
        }

        .leaf-1 {
          svg {
            width: 50px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -3%;

          svg {
            width: 35px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(201%, -42%);

          svg {
            width: 80px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 120px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 540px) {
    &__menu {
      bottom: 13vw;
    }

    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxl);
          line-height: var(--line-height-110);
        }

        .leaf-1 {
          transform: translate(-47%, 44%);

          svg {
            width: 30px;
            height: auto;
          }
        }

        .leaf-2 {
          transform: translate(-41%, -80%);

          svg {
            width: 100px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -2%;

          svg {
            width: 30px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(170%, -40%);

          svg {
            width: 50px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 80px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    min-height: calc(100vh - var(--height-header-small));

    &__menu {
      bottom: 120px;
    }

    &__content {
      transform: translateY(-20vw);
    }

    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxl);
          line-height: var(--line-height-110);
        }

        .leaf-1 {
          transform: translate(-47%, 44%);

          svg {
            width: 30px;
            height: auto;
          }
        }

        .leaf-2 {
          transform: translate(-100%, -80%);
        }

        .leaf-3 {
          top: -2%;

          svg {
            width: 30px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(170%, -40%);

          svg {
            width: 50px;
            height: auto;
          }
        }

        .leaf-5 {
          display: none;
        }
      }
    }
  }
}
