.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-detail-org-add {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;

  &-left {
    &-thumbnail {
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &-right {
    .top-navigate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      font-family: var(--font-space-mono);
      font-size: var(--font-size-xs);
      color: var(--color-black-40);
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-black-10);
      margin-bottom: 26px;

      &-next,
      &-prev {
        @extend .flex-between-center;
        column-gap: 10px;
      }
    }

    .title {
      margin-bottom: 10px;
    }

    .social-organization {
      margin-bottom: 20px;
    }

    .description {
      line-height: var(--line-height-160);
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    &-right {
      .title {
        font-size: var(--font-size-l);
      }
      .description {
        font-size: var(--font-size-m);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    gap: 40px;

    &-left {
      width: 50%;
    }

    &-right {
      width: 50%;
    }
  }

  @media screen and (min-width: 1280px) {
    gap: 80px;
    margin-bottom: 60px;
  }
}
