.document-uploaded {
  &-title {
    font-family: var(--font-space-mono);
    font-size: var(--font-size-s);
    margin-bottom: 5px;
  }

  &-list {
    &-item {
      display: flex;
      align-items: center;
      gap: 4px;

      &-link {
        color: var(--color-blue);
        font-size: var(--font-size-s);
      }
      &-icon {
        font-size: var(--font-size-xxs);
        color: var(--color-red);
      }
    }
  }
}
