.preview-project-modal {
  &-title {
    font-size: var(--font-size-xm-2);
    margin-bottom: 10px;
    text-align: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-main {
      font-weight: 700;
      font-size: var(--font-size-sm);
    }

    &-title {
      font-weight: 700;
      font-size: var(--font-size-s);
    }

    &-item {
      font-family: var(--font-space-mono);
      font-size: var(--font-size-s);

      &-title {
        display: block;
        font-weight: 700;
      }

      &-text {
        display: block;
        font-size: var(--font-size-s);
        white-space: break-spaces;
      }

      &-image {
        max-width: 200px;
        border-radius: 8px;
        margin-top: 8px;
      }
    }
  }

  .submit-btn {
    width: 100%;
    margin-top: 20px;
  }
}
