.organization-detail {
  padding: 30px 0 70px 0;

  &-middle {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-bottom: 1px solid var(--color-black-10);
    padding-bottom: 40px;
    margin-bottom: 40px;

    .description {
      font-family: var(--font-dm-sans);
      line-height: var(--line-height-160);
      margin-bottom: 20px;

      .text-link {
        text-decoration: underline;
      }
    }

    .checklists {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 60px 0 150px 0;

    &-middle {
      flex-direction: row;
      gap: 80px;
      padding-bottom: 60px;
      margin-bottom: 60px;

      .box {
        width: calc(50% - 40px);
      }
    }
  }
}
