.survey-modal {
  .title {
    margin-bottom: 15px;
  }

  .survey-select {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: inherit;

    .ant-select {
      &-selection {
        &-placeholder {
          color: var(--color-black-10);
          font-size: var(--font-size-s);
        }
        &-item {
          font-size: var(--font-size-s);
        }
      }
    }
  }

  .survey-form {
    max-width: 500px;
    margin: 0 auto;
  }

  .description {
    margin-bottom: 20px;
    font-family: var(--font-dm-sans);
    font-size: 16px;
    font-style: italic;

    p {
      margin-bottom: 8px;
    }
  }

  .form-wrapper {
    .form {
      margin-bottom: 25px;

      .item-input {
        margin-bottom: 20px;
      }
    }
  }

  .submit-btn {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .title {
      font-size: var(--font-size-m-2);
    }
  }
}
