@font-face {
  font-family: 'Agrandir';
  font-weight: 400;
  src: url('../assets/fonts/Agrandir-Regular.ttf');
  src: url('../assets/fonts/Agrandir-Regular.woff') format('woff'),
    url('../assets/fonts/Agrandir-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Agrandir';
  font-weight: 500;
  src: url('../assets/fonts/Agrandir-Medium.ttf');
  src: url('../assets/fonts/Agrandir-Medium.woff') format('woff'),
    url('../assets/fonts/Agrandir-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Agrandir';
  font-weight: 700;
  src: url('../assets/fonts/Agrandir-Bold.ttf');
  src: url('../assets/fonts/Agrandir-Bold.woff') format('woff'),
    url('../assets/fonts/Agrandir-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Agrandir';
  font-weight: 900;
  src: url('../assets/fonts/Agrandir-Black.ttf');
  src: url('../assets/fonts/Agrandir-Black.woff') format('woff'),
    url('../assets/fonts/Agrandir-Black.woff2') format('woff2');
}
