.homepage {
  min-height: calc(100vh - var(--height-header));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;

  &__tabs {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 100px;
  }

  &__content {
    transform: translateY(-3vw);
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      position: relative;

      p {
        color: var(--color-white);
        font-family: var(--font-agrandir);
        font-size: var(--font-size-xxx);
        font-weight: 500;
        height: fit-content;
        line-height: var(--line-height-91);
        margin: 0;

        span {
          color: var(--color-green);
        }
      }
      .leaf-1 {
        max-width: 10%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(-41%, 13%);
      }
      .leaf-2 {
        max-width: 13%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-41%, -120%);
      }
      .leaf-3 {
        max-width: 8%;
        left: 0;
        position: absolute;
        top: -10%;
      }
      .leaf-4 {
        max-width: 18%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate(176%, -42%);
      }
      .leaf-5 {
        max-width: 29%;
        bottom: 0;
        position: absolute;
        right: 0;
        transform: translateX(100%);
      }
    }
  }

  &__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vw;
  }

  .text-coming-soon {
    margin-top: 25px;
  }

  @media screen and (max-width: 1400px) {
    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxm-4);
        }

        .leaf-1 {
          svg {
            width: 80px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -6%;

          svg {
            width: 50px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(201%, -42%);

          svg {
            width: 110px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 180px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1280px) {
    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxm-3);
        }
      }
    }
  }

  @media screen and (max-width: 1080px) {
    min-height: calc(100vh - var(--height-header-medium));
  }

  @media screen and (max-width: 1080px) {
    &__title {
      &-text {
        .leaf-1 {
          svg {
            width: 70px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -5%;

          svg {
            width: 45px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(201%, -42%);

          svg {
            width: 100px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 160px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxm-2);
        }

        .leaf-1 {
          svg {
            width: 60px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -4%;

          svg {
            width: 40px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(201%, -42%);

          svg {
            width: 90px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 140px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__menu {
      bottom: 10vw;
    }

    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxm-1);
        }

        .leaf-1 {
          svg {
            width: 50px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -3%;

          svg {
            width: 35px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(201%, -42%);

          svg {
            width: 80px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 120px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 540px) {
    &__menu {
      bottom: 13vw;
    }

    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxl);
          line-height: var(--line-height-110);
        }

        .leaf-1 {
          transform: translate(-47%, 44%);

          svg {
            width: 30px;
            height: auto;
          }
        }

        .leaf-2 {
          transform: translate(-41%, -80%);

          svg {
            width: 100px;
            height: auto;
          }
        }

        .leaf-3 {
          top: -2%;

          svg {
            width: 30px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(170%, -40%);

          svg {
            width: 50px;
            height: auto;
          }
        }

        .leaf-5 {
          svg {
            width: 80px;
            height: auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    min-height: calc(100vh - var(--height-header-small));

    &__menu {
      bottom: 120px;
    }

    &__content {
      transform: translateY(-20vw);
    }

    &__title {
      &-text {
        p {
          font-size: var(--font-size-xxl);
          line-height: var(--line-height-110);
        }

        .leaf-1 {
          transform: translate(-47%, 44%);

          svg {
            width: 30px;
            height: auto;
          }
        }

        .leaf-2 {
          transform: translate(-100%, -80%);
        }

        .leaf-3 {
          top: -2%;

          svg {
            width: 30px;
            height: auto;
          }
        }

        .leaf-4 {
          transform: translate(170%, -40%);

          svg {
            width: 50px;
            height: auto;
          }
        }

        .leaf-5 {
          display: none;
        }
      }
    }
  }
}
