.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-family: var(--font-agrandir);
  font-size: var(--font-size-s);
  font-weight: 500;
  line-height: var(--line-height-100);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  span,
  svg {
    vertical-align: middle;
  }
}

.size {
  &-s {
    padding: 13px 18px 9px 18px;
    font-size: var(--font-size-s);
  }

  &-sm {
    font-size: var(--font-size-sm);
    padding: 14px 20px 10px 20px;
  }

  &-m {
    font-size: var(--font-size-m);
    padding: 16px 22px 12px 22px;
  }

  &-m-2 {
    font-size: var(--font-size-m);
    padding: 16px 24px 12px 24px;
  }
  &-xl {
    font-size: var(--font-size-xl);
    padding: 16px 26px 12px 26px;
  }
}

.color {
  &-white {
    color: var(--color-white);
  }
  &-black {
    color: var(--color-black-10);
  }
  &-purple {
    color: var(--color-purple);
  }
}

.background {
  &-white {
    background: var(--color-white);
  }
  &-black {
    background: var(--color-black-10);
  }
  &-purple {
    background: var(--color-purple);
  }
  &-orange {
    background: var(--color-orange);
  }
  &-green {
    background: var(--color-green);
  }
  &-orange-bold {
    background: rgba(255, 95, 0, 1);
  }
  &-blue {
    background: var(--color-blue);
  }
}

.type {
  &-filled {
    border: 1px solid transparent;
  }

  &-outlined {
    border: 1px solid var(--color-black-10);
  }
}

.border-radius {
  &-100 {
    border-radius: 100px;
  }
}
