.donor-acceptance-modal {
  display: block;
  opacity: 1;

  .title {
    font-size: var(--font-size-m);
    font-family: var(--font-agrandir);
  }
  .description {
    font-size: var(--font-size-s);
    font-family: var(--font-dm-sans);
    font-style: italic;

    .text-link {
      text-decoration: underline;
      color: var(--color-blue);
      font-style: normal;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
