.admin-projects {
  padding: 40px 0;

  .top-buttons {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

  .options-marketplace {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-bottom: 16px;

    .label-not-access {
      color: var(--color-red-1);
      font-size: var(--font-size-xs);
    }
  }
}
