.diligence {
  font-family: var(--font-agrandir);
  padding: 60px 0;
  background-color: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;
  padding-top: 100px;
  padding-bottom: 100px;

  .title {
    text-transform: uppercase;
    font-family: var(--font-space-mono);
    font-size: var(--font-size-sm);
    line-height: 200%;
    margin-bottom: 40px;
    color: var(--color-black-10);
  }

  .des {
    max-width: 75%;
    font-size: var(--font-size-xl-2);
    line-height: var(--line-height-133);
    margin-bottom: 48px;
    color: var(--color-black-10);
  }

  .list-info {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 60px;
  
    .item-info {
      width: calc(50% - 12px);
      padding: 16px 64px 0px 0px;
      color: var(--color-black-10);
      font-family: var(--font-dm-sans);
      font-size: var(--font-size-sm);
      line-height: 207%;
    
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color-black-10);
        margin-top: 32px;
      }

      &:nth-last-child(-n+1)::after {
        display: none;
      }

      &:nth-last-child(-n+2)::after {
        display: none;
      }

    }
  }
  
  .btn-bottom {
    display: flex;
    justify-content: center;

    .btn-start-project {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .diligence {
    .des {
      max-width: 80%;
      font-size: var(--font-size-xm-2);
    }

    .list-info {
      .item-info {
        padding: 12px 24px;
        font-size: var(--font-size-s);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .diligence {
    min-height: calc(100vh - var(--height-header-medium));

    .list-img {
      flex-wrap: wrap;
      gap: 16px;
      img {
        width: calc(50% - 8px);
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .diligence {
    .title {
      font-size: var(--font-size-s);
    }
    .des {
      max-width: 100%;
      font-size: var(--font-size-m-2);
    }
    .list-info {
      .item-info {
        width: 100%;

        &:nth-last-child(-n+2)::after {
          display: inherit;
        }
      }
    }
  }
}

@media only screen and (max-width: 574px) {
  .diligence {
    padding-top: 80px;
    padding-bottom: 80px;

    .list-info {
      margin-bottom: 0px;
      .item-info {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  
  }
}

@media only screen and (max-width: 573px) {
  .diligence {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}