.due-diligence {
  padding: 20px 0 50px 0;

  &-title {
    text-align: center;
    font-size: var(--font-size-xl-2);
    font-family: var(--font-agrandir);
  }

  &-form {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .form-section {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: var(--font-size-m);
        font-family: var(--font-agrandir);
        margin-bottom: 0;
        flex: 1;

        .delete-icon {
          font-size: var(--font-size-s);
          font-weight: normal;
          cursor: pointer;
        }
      }

      .note {
        margin-bottom: 0;
        font-family: var(--font-dm-sans);
        font-size: 16px;
        font-style: italic;
        line-height: 150%;
      }

      .checklist {
        flex-direction: column;
        gap: 4px;
      }
    }

    .staff-member {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .input-half {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
    }

    .title-field {
      line-height: 24px;
    }

    .document-uploaded {
      margin-top: 8px;

      .document {
        display: flex;
        align-items: center;
        gap: 4px;

        .document-link {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 250px;
        }

        .icon-delete-document {
          color: var(--color-red);
          cursor: pointer;
        }
      }
    }

    .ant-upload {
      width: 100%;

      &-list-item {
        color: var(--color-blue);

        &-name {
          max-width: 200px;
        }
      }

      .ant-btn {
        width: 100%;
        height: 48px;
      }
    }

    .org-image-uploader {
      .ant-upload {
        overflow: hidden;

        &:hover {
          border-color: var(--color-white) !important;
        }

        &-wrapper {
          color: var(--color-white);
        }

        &.ant-upload-select {
          width: 200px !important;
          height: 200px !important;
        }
      }
    }

    .select-field {
      width: 100%;

      .ant-select {
        &-selection {
          &-item {
            font-size: var(--font-size-s);
          }
        }
        &-selection {
          &-placeholder {
            font-size: var(--font-size-s);
          }
        }
        &-selector {
          padding: 8px 20px !important;
        }
      }
    }

    .date-picker-field {
      width: 100%;
      padding: 10.5px 20px;
      border-color: transparent;
      box-shadow: none;
      background: var(--color-white-10);
      font-size: var(--font-size-s);

      .ant-picker {
        &-input {
          input {
            font-size: var(--font-size-s);
            font-family: var(--font-dm-sans);
          }
        }
      }
    }

    .mobile-number-field {
      padding: 12.5px 20px;

      .PhoneInputInput {
        border: none;
        background: var(--color-white-10);
        font-size: var(--font-size-s);
        font-family: var(--font-dm-sans);
        &:focus {
          outline: none;
        }
      }
    }

    .submit-btn {
      width: 100%;
      margin-top: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    &-title {
      font-size: var(--font-size-xxl);
    }

    &-form {
      max-width: 700px;
      margin: 0 auto;

      &-wrapper {
        gap: 24px;
      }

      .input-half {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
      }

      .submit-btn {
        max-width: 340px;
        margin: 0 auto;
        margin-top: 30px;
      }

      .select-field,
      .date-picker-field {
        max-width: 338px;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    &-title {
      margin: 40px 0;
    }
  }
}
